<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        body{
            text-align: center;
            background-color: bisque;
            font-family: 'Poppins', sans-serif;
            margin-top: 2%;
            width: 100%;
            
        }
        .maindiv{
            border-radius: 25px;
            padding: 2%;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 2%;
            margin-left: 3%;
            margin-right: 3%;
            height: 10%;
            width: 100%;
            background-color: black;
            color: aliceblue;
        }
        table{
            width: 100%;
            border-collapse: collapse;

        }
        th,td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    
    <div class="maindiv">
        <table>
            <% if (users!="") { %>
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>password</th>
                    <th>Permitions</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><%= user.role %> <button onclick="location.href='/changeRole/<%= user._id %>'">Change</button></td>
                    <td>
                        <!-- <a href="/update/<%= user._id %>">Update</a> -->
                        <a href="/delete/<%= user._id %>">Delete</a>
                    </td>

                 </tr>
                <% }) %>
            </tbody>
        
    <% } else{ %>
    </table>
        <h1>NO USER FOUND</h1>
        <% }  %>  

        <% if (files!="") { %>
            <table>
                <thead>
                    <tr>
                        <th>file name</th>
                        <th>file</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% files.forEach((files , index) => { %>
                        <tr>
                            <td><%= files.originalname %></td>
                            <td><%= files.filename %></td>
                            <td><a href="/download/<%= files.filename %>">Download</a> </td>
                            <td> <iframe src="/files/<%= files.filename %>" width="250" height="200"></iframe> </td>
                            
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else{ %>
            <h1>NO FILE FOUND</h1>
            <% }  %>



        
        
        <h1>Register User From Here <a href="/register">Register user</a></h1>
        <h1>Login User From Here <a href="/login">Login user</a></h1>
        <h1>Admin Login Here <a href="/admin">Login Admin</a></h1>

    </div>
</body>
</html>
